# **Moniqo Group Project**

### **Data Cleaning** 

> -- Put any steps here

Step0. Load the Dataset
Step1. Missing Value Handling
Step2. Correct data types
Step3. Remove duplicates
Step4. Clean and Transform Text Data
Step5. Consistency and Logical Checks
Step6. Outlier Detection

Step0. Load the Dataset

In [38]:
# Import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

# DATA_DIR = Path("data")  # adjust if needed
# pd.set_option("display.max_columns", 100)

In [6]:
# Load datasets

# Customers
data = pd.read_csv('repeat_loans_final.csv')
data.head()

,LoanId,AmountDisbursed,Interest,LoanBalance,BorrowDate,Product,Branch,ClearDate,CustomerId,Gender,...,CreditScore,loan_repayment_txn_count,loan_repayment_total_paid,loan_repayment_first_payment,loan_repayment_last_payment,loan_overpayment,missed_instalments,Industry,Business Type,Year of Establishment
0,951920,6000,1750,7750.0,11/29/2025,5 WEEKS CREDIT EASE,ENGINEER,1/3/2026,1819,FEMALE,...,3500,1,500,29/11/2025,29/11/2025,0,5.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2017
1,951902,4000,1250,5250.0,11/28/2025,5 WEEKS CREDIT EASE,MOLO,1/2/2026,1818,FEMALE,...,2500,1,1550,28/11/2025,28/11/2025,0,4.0,Food & Hospitality,Retail Shop,2019
2,949962,4000,1250,5250.0,11/26/2025,5 WEEKS CREDIT EASE,ENGINEER,31/12/2025,1815,FEMALE,...,3500,1,1350,26/11/2025,26/11/2025,0,4.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2014
3,949189,4000,1250,5250.0,11/25/2025,5 WEEKS CREDIT EASE,MOLO,30/12/2025,1814,FEMALE,...,1500,1,1000,25/11/2025,25/11/2025,0,4.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2018
4,948984,4000,1250,5250.0,11/24/2025,5 WEEKS CREDIT EASE,MOLO,29/12/2025,1813,FEMALE,...,1500,1,1550,24/11/2025,24/11/2025,0,4.0,Business & Information,Bureau & Publishing Services,2018

Step1. Handle Missing Values

In [ ]:
# Find missing values
print(data.isnull().sum())

LoanId                          0
AmountDisbursed                 0
Interest                        0
LoanBalance                     0
BorrowDate                      0
Product                         0
Branch                          0
ClearDate                       0
CustomerId                      0
Gender                          0
LoanLimit                       0
CreditScore                     0
loan_repayment_txn_count        0
loan_repayment_total_paid       0
loan_repayment_first_payment    0
loan_repayment_last_payment     0
loan_overpayment                0
missed_instalments              2
Industry                        0
Business Type                   0
Year of Establishment           0
dtype: int64

In [ ]:
# Drop missing value rows
data = data.dropna(subset=['missed_instalments'])

Step2. Correct data types

In [ ]:
data['BorrowDate'] = pd.to_datetime(data['BorrowDate'])
data.head(10)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3570 entries, 0 to 3571
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   LoanId                        3570 non-null   int64
 1   AmountDisbursed               3570 non-null   int64
 2   Interest                      3570 non-null   int64
 3   LoanBalance                   3570 non-null   float64
 4   BorrowDate                    3570 non-null   datetime64[ns]
 5   Product                       3570 non-null   object
 6   Branch                        3570 non-null   object
 7   ClearDate                     3570 non-null   object
 8   CustomerId                    3570 non-null   int64
 9   Gender                        3570 non-null   object
 10  LoanLimit                     3570 non-null   int64
 11  CreditScore                   3570 non-null   int64
 12  loan_repayment_txn_count      3570 non-null   int64
 13  loan_repayment_total_paid     3570 non-null   int64
 14  loan_repayment_first_payment  3570 non-null   object
 15  loan_repayment_last_payment   3570 non-null   object
 16  loan_overpayment              3570 non-null   int64
 17  missed_instalments            3570 non-null   float64
 18  Industry                      3570 non-null   object
 19  Business Type                 3570 non-null   object
 20  Year of Establishment         3570 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(10), object(8)
memory usage: 613.6+ KB

Step3. Remove duplicates

In [ ]:
duplicate_rows = data[data.duplicated()]
print(duplicate_rows)

# 0 duplicated rows

Empty DataFrame
Columns: [LoanId, AmountDisbursed, Interest, LoanBalance, BorrowDate, Product, Branch, ClearDate, CustomerId, Gender, LoanLimit, CreditScore, loan_repayment_txn_count, loan_repayment_total_paid, loan_repayment_first_payment, loan_repayment_last_payment, loan_overpayment, missed_instalments, Industry, Business Type, Year of Establishment]
Index: []

[0 rows x 21 columns]

Step4. Clean and Transform Text Data

In [24]:
## 5.1 Convert text to lowercase
data['Product'] = data['Product'].astype('string')
data['Branch'] = data['Branch'].astype('string')
data['Gender'] = data['Gender'].astype('string')
data['Industry'] = data['Industry'].astype('string')
data['Business Type'] = data['Business Type'].astype('string')
data.head(10)

,LoanId,AmountDisbursed,Interest,LoanBalance,BorrowDate,Product,Branch,ClearDate,CustomerId,Gender,...,CreditScore,loan_repayment_txn_count,loan_repayment_total_paid,loan_repayment_first_payment,loan_repayment_last_payment,loan_overpayment,missed_instalments,Industry,Business Type,Year of Establishment
0,951920,6000,1750,7750.0,2025-11-29,5 weeks credit ease,ENGINEER,1/3/2026,1819,FEMALE,...,3500,1,500,29/11/2025,29/11/2025,0,5.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2017
1,951902,4000,1250,5250.0,2025-11-28,5 weeks credit ease,MOLO,1/2/2026,1818,FEMALE,...,2500,1,1550,28/11/2025,28/11/2025,0,4.0,Food & Hospitality,Retail Shop,2019
2,949962,4000,1250,5250.0,2025-11-26,5 weeks credit ease,ENGINEER,31/12/2025,1815,FEMALE,...,3500,1,1350,26/11/2025,26/11/2025,0,4.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2014
3,949189,4000,1250,5250.0,2025-11-25,5 weeks credit ease,MOLO,30/12/2025,1814,FEMALE,...,1500,1,1000,25/11/2025,25/11/2025,0,4.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2018
4,948984,4000,1250,5250.0,2025-11-24,5 weeks credit ease,MOLO,29/12/2025,1813,FEMALE,...,1500,1,1550,24/11/2025,24/11/2025,0,4.0,Business & Information,Bureau & Publishing Services,2018
5,948732,4000,1250,5250.0,2025-11-24,5 weeks credit ease,MOLO,29/12/2025,1812,FEMALE,...,1500,1,1550,24/11/2025,24/11/2025,0,4.0,Natural Resources/Environmental,Firewood & Charcoal Vendor,2020
6,944789,4000,1250,4200.0,2025-11-17,5 weeks credit ease,MOLO,22/12/2025,1805,FEMALE,...,2000,1,1050,26/11/2025,26/11/2025,0,5.0,Personal Services,Cereals,2018
7,944107,4000,1250,4200.0,2025-11-17,5 weeks credit ease,MOLO,22/12/2025,1804,FEMALE,...,1500,1,1050,24/11/2025,24/11/2025,0,5.0,Food & Hospitality,Hawking- Mobile merchandize Services,2021
8,935413,4000,1250,0.0,2025-11-28,5 weeks credit ease,MOLO,12/6/2025,1787,FEMALE,...,2500,1,2600,28/11/2025,28/11/2025,0,2.0,Food & Hospitality,Bar/ Restaurant,2018
9,931751,4000,1250,0.0,2025-11-25,5 weeks credit ease,MOLO,30/11/2025,1778,FEMALE,...,2000,1,1550,25/11/2025,25/11/2025,0,4.0,Wholesale & Retail Trade,Green Grocery (Fruit/Vegetables),2022

In [ ]:
# 5.2 Remove leading/trailing whitespace
data['Product'] = data['Product'].str.strip()
data.head(10)

# 5.3 Replace specific characters or strings
data['Product'] = data['Product'].str.replace('5 weeks credit ease', '5')
data['Product'] = data['Product'].str.replace('7 weeks credit ease', '7')
data['Product'] = data['Product'].str.replace('10 weeks credit ease', '10')
data['Branch'] = data['Branch'].str.replace('10 weeks credit ease', '10')

data.head(10)

,LoanId,AmountDisbursed,Interest,LoanBalance,BorrowDate,Product,Branch,ClearDate,CustomerId,Gender,...,CreditScore,loan_repayment_txn_count,loan_repayment_total_paid,loan_repayment_first_payment,loan_repayment_last_payment,loan_overpayment,missed_instalments,Industry,Business Type,Year of Establishment
0,951920,6000,1750,7750.0,2025-11-29,5,ENGINEER,1/3/2026,1819,FEMALE,...,3500,1,500,29/11/2025,29/11/2025,0,5.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2017
1,951902,4000,1250,5250.0,2025-11-28,5,MOLO,1/2/2026,1818,FEMALE,...,2500,1,1550,28/11/2025,28/11/2025,0,4.0,Food & Hospitality,Retail Shop,2019
2,949962,4000,1250,5250.0,2025-11-26,5,ENGINEER,31/12/2025,1815,FEMALE,...,3500,1,1350,26/11/2025,26/11/2025,0,4.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2014
3,949189,4000,1250,5250.0,2025-11-25,5,MOLO,30/12/2025,1814,FEMALE,...,1500,1,1000,25/11/2025,25/11/2025,0,4.0,Food & Hospitality,Green Grocery (Fruit/Vegetables),2018
4,948984,4000,1250,5250.0,2025-11-24,5,MOLO,29/12/2025,1813,FEMALE,...,1500,1,1550,24/11/2025,24/11/2025,0,4.0,Business & Information,Bureau & Publishing Services,2018
5,948732,4000,1250,5250.0,2025-11-24,5,MOLO,29/12/2025,1812,FEMALE,...,1500,1,1550,24/11/2025,24/11/2025,0,4.0,Natural Resources/Environmental,Firewood & Charcoal Vendor,2020
6,944789,4000,1250,4200.0,2025-11-17,5,MOLO,22/12/2025,1805,FEMALE,...,2000,1,1050,26/11/2025,26/11/2025,0,5.0,Personal Services,Cereals,2018
7,944107,4000,1250,4200.0,2025-11-17,5,MOLO,22/12/2025,1804,FEMALE,...,1500,1,1050,24/11/2025,24/11/2025,0,5.0,Food & Hospitality,Hawking- Mobile merchandize Services,2021
8,935413,4000,1250,0.0,2025-11-28,5,MOLO,12/6/2025,1787,FEMALE,...,2500,1,2600,28/11/2025,28/11/2025,0,2.0,Food & Hospitality,Bar/ Restaurant,2018
9,931751,4000,1250,0.0,2025-11-25,5,MOLO,30/11/2025,1778,FEMALE,...,2000,1,1550,25/11/2025,25/11/2025,0,4.0,Wholesale & Retail Trade,Green Grocery (Fruit/Vegetables),2022

Step5. Outlier Detection and Handling

In [ ]:
curve1 = data['AmountDisbursed']

plt.figure(figsize=(8, 5))

sns.histplot(curve1, bins=30, kde=True, color='skyblue', edgecolor='black',
             line_kws={'linewidth': 2, 'color': 'darkblue'})

plt.title('Distribution of Amount Disbursed', fontsize=14)
plt.xlabel('Amount Disbursed', fontsize=12)
plt.ylabel('Density / Frequency', fontsize=12)
plt.grid(axis='y', alpha=0.5)

plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'repeat_loans_cleaned_step2.csv'

Step6. Data Transformation